<form method="POST" action="{% url 'home' %}"> {% csrf_token %}
	<p>Телефон</p> <input name="phone" required><br>
	<p>Текст</p><textarea name="text" required> </textarea><br>
	<input type="submit"><br>
</form>